{% extends 'template_access_module.html' %}
{% block title %} Log in {% endblock %}
{% block body %}
<div class="container rounded" style="background-color: #808080; padding: 20px;">
    <div class="container w-70 rounded"style="background-color: #ffff">
        <div class="row">
            <div class="col-6 p-0">
                <form action="{% url 'login' %}" method="POST" id="login_form">
                    {% csrf_token %}
                <div class="container rounded d-flex flex-column justify-content-center align-items-center p-2" style="background-color:#E6E6E6;">
                    <div class="form-group w-75 offset-md-2"">
                        <label for="username" class="form-label">Email</label>
                        {{ login_form.username }}
                    </div>
                    <div class="form-group w-75 offset-md-2"">
                        <label for="password" class="form-label">Password</label>
                        {{ login_form.password }}
                    </div>
                    <button type="submit" class="btn btn-primary mb-2 w-50"style="margin-right: 12px;">Log in</button>
                </div>
            </form>
            </div>
            <div class="col-6 p-0">
                <div class="container rounded d-flex flex-column justify-content-center align-items-center h-100" style="background-color:white;Color: #808080;" >
                    <h1 class="display-1 fw-bold">Log in</h1>
                    <div class="d-flex" style="color: #808080;">
                        <p class="mb-0">Don't have an account?&nbsp;</p>
                        <a href="#" style="text-decoration: none;color:inherit"><u>Sign Up</u></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
