.log_out_btn{
    border:none;
    background-color: #325F74;
    color:white;

}
.log_out_btn:hover{
    background-color: #3C93AF;
    transition: background-color 0.3s ease; 
    color:white;

}

.nav-link-custom {

    position: relative;
}

.nav-link-custom::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%; 
    background-color: #F9AA41; 
    transition: width 0.3s ease, left 0.3s ease; 
}

.nav-link-custom:hover::after {
    width: 100%; 
    left: 0; 
}

.nav-link-custom:hover {
    color: #F9AA41; 
    transition: color 0.3s ease; 
}

.customize_btn{
    background-color: #0E272C;
    color:white;

}
.customize_btn:hover{
    background-color: #4EBC95;
    color:white;
    transition: background-color 0.3s ease; 

}