{% extends 'template_inventory.html' %}
{% block title %} Inventory {% endblock %}
{% block body %}

<!--Inventory managing-->
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2 class="text-center">Add product</h2>
        <form action="/add_product/" method="POST">{% csrf_token %}
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="input_name" name="input_name" placeholder="">
                <label for="floatingInput">Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="input_category" name="input_category" placeholder="">
                <label for="floatingInput">Category</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="input_total_quantity" name="input_total_quantity"
                    placeholder="">
                <label for="floatingInput">Total quantity</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="input_sale_price" name="input_sale_price" placeholder="">
                <label for="floatingInput">Sale price</label>
            </div> 
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary" type="button">Add</button>
            </div>
        </form>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <div class="table-responsive py-1">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Total quantity</th>
                        <th>Sale price</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in products %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{p.name}}</td>
                        <td>{{p.category}}</td>
                        <td>{{p.total_quantity}}</td>
                        <td>{{p.sale_price}}</td>
                        <td>
                            <div class="btn-group">
                                <a href="before_edit_product/{{p.id}}" class="btn btn-success">Edit</a>
                                <a href="delete_product/{{p.id}}" class="btn btn-primary">Delete</a>
                                <button data-productname="{{ p.name }}"
                                    data-productquantity="{{ p.total_quantity }}" data-price="{{ p.sale_price }}"
                                    data-id="{{ p.id }}" type="button" class="btn btn-dark" data-bs-toggle="modal"
                                    data-bs-target="#productModal">
                                    Publish
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal for publishing -->
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModal" aria-hidden="true">
    <div class="modal-dialog">
        <form action='/add_publish_product/' method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModal"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <input type="hidden" id="product_name" name="product_name" value="">

                                <label for="form-control" class="form-label">Type</label>
                                <div class="input-group mb-3">
                                    <label class="input-group-text" for="inputGroupSelect01">Options</label>
                                    <select class="form-select" id="inputGroupSelect01" name="type" required>
                                        <option value="sale">Sale</option>
                                        <option value="donation">Donation</option>
                                    </select>
                                </div>

                                <label for="form-control" class="form-label">Quantity</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="quantity">Quantity</span>
                                    <input type="number" class="form-control quantity" aria-describedby="quantity"
                                        min="1" name="quantity" required>
                                </div>
                                <label for="form-control" class="form-label">Price</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="quantity">Price</span>
                                    <input type="number" class="form-control quantity" aria-describedby="price"
                                        name="price" required>
                                </div>

                                <label for="availableDate">Available Date</label>
                                <div class="input-group mb-3">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Start date</span>
                                        <input type="datetime-local" class="form-control" name="start_date" required>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">End date</span>
                                        <input type="datetime-local" class="form-control" name="end_date" required>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Image/label>
                                    <input class="form-control" type="file" id="productImage" name="product_image" required>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}