{% extends 'template_inventory_module.html' %}
{% block title %} Inventory {% endblock %}
{% block body %}
<!--Inventory managing-->
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2 class="text-center">Add product</h2>
        <!-- class="was-validated" -->
        <form action="/add_product_function/" method="POST" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="validationTextarea" class="form-label">Name</label>
                <input type="text" class="form-control" name="input_name" required id="input_name">
                <ul id="suggestions_list" class="list-group" style="display: none;"></ul>
                <div class="invalid-feedback">Example invalid form file feedback</div>
            </div>
            <div class="mb-3">
                <label for="validationTextarea" class="form-label">Quantity</label>
                <input type="number" class="form-control" name="input_quantity" required>
                <div class="invalid-feedback">Example invalid form file feedback</div>
            </div>
            <div class="mb-3 d-grid gap-2">
                <button class="btn btn-primary" type="submit">Add</button>
            </div>
        </form>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <div class="table-responsive py-1">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Total quantity</th>
                        <th>Sale price</th>
                        <th>Options</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{product.name_product}}</td>
                        <td>{{product.category_product}}</td>
                        <td>{{product.total_quantity}}</td>
                        <td>{{product.sale_price_product}}</td>
                        

                        <td>
                            <div class="btn-group">
                                <button data-id_add_product="{{product.id}}" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit_product_modal_add_product">Edit</button>
                                <a href="delete_product_add_product/{{product.id}}" class="btn btn-primary btn_delete_product">Delete</a>
                                <!-- Button trigger modal -->
                                <button data-name="{{ product.name_product }}" data-quantity="{{ product.total_quantity }}" data-price="{{ product.sale_price_product }}" data-id="{{ product.id_product.id }}" data-id-inventory="{{ product.id_inventory.id }}" type="button" class="btn btn-dark" data-bs-toggle="modal"
                                    data-bs-target="#publish_modal">
                                    Publish
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="publish_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="publish_modal_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="publish_modal_label"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        <div class="modal-body">
            <div class="container">
            <div class="row">
                <div class="col">
                    <form id="publish_modal_form" action="/publish_product/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="id_product" name="id_product" value="">
                    <input type="hidden" id="id_inventory" name="id_inventory" value="">
                    <label for="form-control" class="form-label">Type</label>
                    <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Options</label>
                    <select class="form-select" id="inputGroupSelect01" name="type" required>
                        <option value="sale">Sale</option>
                        <option value="donation">Donation</option>
                    </select>
                    </div>
                    <label for="quantity" class="form-label">Quantity</label>
                    <div class="input-group mb-3">
                    <span class="input-group-text" id="quantity_label">Quantity</span>
                    <input type="number" class="form-control" aria-describedby="quantity_label"
                            min="1" name="quantity" required id="quantity">
                    </div>
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="price">Price</span>
                        <input type="number" class="form-control" aria-describedby="price"
                            name="price" required>
                    </div>
                    
                    <label for="pick_up_time" class="form-label">Pick up time</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="pick_up_time">PickUp time</span>
                        <input type="time" class="form-control" aria-describedby="pick_up_time"
                            name="pick_up_time" required>
                    </div>
                </div>
            </div>
            </div>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
        </div>
    </div>
</div> 

<!-- Modal -->
<div class="modal fade" id="edit_product_modal_add_product" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="edit_name_add_product" class="form-label">Name</label>
                    <input type="text" class="form-control" id="edit_name_add_product" name="edit_name_add_product" readonly>
                </div>
                <form id="edit_product_form_add_product" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" id="edit_id_add_product" name="edit_id_add_product">
                    <!-- <input type="hidden" id="edit_id_product_add_product" name="edit_id_product_add_product">
                    <input type="hidden" id="edit_id_inventory_add_product" name="edit_id_inventory_add_product"> -->
                    <div class="mb-3">
                        <label for="edit_quantity_add_product" class="form-label">Quantity</label>
                        <input type="number" class="form-control" id="edit_quantity_add_product" name="edit_quantity_add_product">
                    </div>
    
                    <div class="mb-3 d-grid gap-2">
                        <button class="btn btn-primary" type="submit">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->


<script src="../static/js/input_suggestions.js"></script>
<script src="../static/js/show_publish_modal.js"></script>
<script src="../static/js/edit_product_modal_add_product.js"></script>
<script src="../static/js/delete_product.js"></script>

{% endblock %}