{% extends 'template.html' %}
{% block title %} Analysis {% endblock %}
{% block content %}
{% load plotly_dash %}
{% load bootstrap_icons %}


<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <h2 class="text-center" style="margin: 20px;">Basic charts</h2>
    <div class="container py-4">
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-header">
                        Pie Chart: Products for sale Vs. Products for donate
                    </div>
                    <div class="card-body">
                        <div class="{% plotly_class name='SimplePieChart' %} card" style="height: 100%; width: 100%;">
                            {% plotly_app name='SimplePieChart' ratio=0.9 %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        Pie Chart: Products sold Vs. Product donated
                    </div>
                    <div class="card-body">
                        <div class="{% plotly_class name='SimplePieChart1' %} card" style="height: 100%; width: 100%;">
                            {% plotly_app name='SimplePieChart1' ratio=0.9 %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-header">
                Bar Chart: products created
            </div>
            <div class="card-body">
                <div class="{% plotly_class name='BarChart' %} card" style="height: 100%; width: 100%;">
                    {% plotly_app name='BarChart' ratio=0.5 %}
                </div>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-header">
                Bar Chart: inventory
            </div>
            <div class="card-body">
                <div class="{% plotly_class name='BarChart1' %} card" style="height: 100%; width: 100%;">
                    {% plotly_app name='BarChart1' ratio=0.5 %}
                </div>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-header">
                Bar Chart: Products sold each category
            </div>
            <div class="card-body">
                <div class="{% plotly_class name='BarChart2' %} card" style="height: 100%; width: 100%;">
                    {% plotly_app name='BarChart2' ratio=0.5 %}
                </div>
            </div>
        </div>
    </div>
</main>
</div>


{% endblock %}