{% extends 'template.html' %}
{% block title %} Analisys {% endblock %}
{% block content %}
{%load plotly_dash%}

<div class="container py-4">
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-header">
                    Bar Chart: Sale products Vs. Donation products
                </div>
                <div class="card-body">
                    <div class="{% plotly_class name='SimplePieChart' %} card" style="height: 100%; width: 100%;">
                        {% plotly_app name='SimplePieChart' ratio=0.9%}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    Products sold Vs. Product donated Vs. Product wasted
                </div>
                <div class="card-body">
                    <div class="{% plotly_class name='SimplePieChart1' %} card" style="height: 100%; width: 100%;">
                        {% plotly_app name='SimplePieChart1' ratio=0.9%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Products sold Vs. Product donated Vs. Product wasted
        </div>
        <div class="card-body">
            <div class="{% plotly_class name='BarChart' %} card" style="height: 100%; width: 100%;">
                {% plotly_app name='BarChart' ratio=0.9%}
            </div>
        </div>
    </div>
</div>


{% endblock %}