{% extends 'template_sales_module.html' %}
{% block title %} Shopping cart {% endblock %}
{% block body %}
<head><link rel="stylesheet" href="../static/css/order.css"></head>
<h1>Shopping cart</h1>
<div id="shopping_cart_container"></div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#order_modal" id="generate_order">Generate Order</button>

<!--modal-->
<div class="modal fade" id="order_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 450px;">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Order</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="order_container">
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <div class="d-flex">
                        <h5 class="card-title text-center">Total: </h5>
                        <p class="card-text text-center ms-2" id="total_order">US$</p>
                    </div>
                    <div>
                        <button type="button" class="btn btn-success" id="buy_order">Buy</button>
                        <button type="button" class="btn btn-danger" id="cancel_order" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<script src="../static/js/shopping_cart_consumer.js"></script>
<script src="../static/js/order_consumer.js"></script>



{% endblock %}





