{% extends 'template_sales_module.html' %}
{% block title %} Shopping cart {% endblock %}
{% block body %}
<h1>Shopping cart</h1>
<div id="shopping_cart_container"></div>

<script src="../static/js/shopping_cart_consumer.js"></script>


{% endblock %}
<!-- <div class="mb-3 d-flex align-items-center justify-content-center">
                        <input type="number" class="form-control text-center" id="quantity_cart_product_consumer" name="quantity_cart_product_consumer" style="flex: 1; max-width: 20%;">
                        <div style="width: 10px;"></div> 
                        <button type="button" class="btn btn-outline-secondary" id="remove_from_cart" style="flex: 1; max-width: 20%;">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div> -->




