{% extends 'template_sales_module.html' %}
{% block title %} Home {% endblock %}


{% block styles %}
<style>
    .card-custom {
      height: 100%;
    }

    .card-custom img {
      height: 200px;
      object-fit: cover;
    }

    .card-body-custom {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    
</style>

{% endblock %}


{% block body %}

<div class="image-container">
    <img src="../static/img/banner.png" alt="Descripción de la imagen">
    <div class="overlay">
        <h1>Welcome to PlateCare!</h1>
        <p>Explore our selection of products available at reduced prices. Here you can add your preferred items to the cart and complete your purchase quickly and easily. Don’t miss out on these deals!</p>
    </div>
  </div>
<div class="container py-4">
    <div class="container">
        <div class="container-md" style="background-color: #f5f5f5;">

            

            <br>

            <div class="row">
                {% if products %}
                {% for product in products %}
                {% if product.publish_quantity > 0 %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <div class="card border border-info-subtle card-custom">
                        <img src="../../{{product.image_product}}" class="card-img-top" alt="{{product.name_product}}">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">{{product.name_product}}</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Price: </strong>{{product.publish_price}}$</li>
                            <li class="list-group-item" id="new_quantity_{{product.id}}"><strong>Quantity: </strong>{{product.publish_quantity}}</li>

                            <!-- <li class="list-group-item" id="new_quantity"><strong>Quantity: </strong>{{product.publish_quantity}}</li> -->
                            <li class="list-group-item"><strong>Category: </strong>{{product.category_product}} </li>
                            <li class="list-group-item"><strong>Description: </strong>{{product.description_product}}</li>
                            <li class="list-group-item"><strong>Pick up time: </strong>{{product.pick_up_time}}</li>
                            <li class="list-group-item"><strong>Pick up address: </strong>{{product.pick_up_address}}</li>
                            <li class="list-group-item"><strong>Place: </strong>{{product.place}}</li>


                        </ul>
                        <!-- <button type="button" class="btn btn-dark btn-sm">Add to cart</button> -->
                        <!-- Button trigger modal -->
                        <button data-id_cart_product="{{product.id}}" type="button" class="btn add_cart_btn" data-bs-toggle="modal" data-bs-target="#cart_product_consumer_modal">Add to cart</button>
                    </div>
                </div> 
                {% endif %}
                {% endfor %}
                {% else %}
                <div class="alert alert-info" role="alert">There are no products for sale</div>
                {% endif %}
            </div>
        </div>
    </div>


    

    <!-- Modal Add to Cart -->
    <div class="modal fade" id="cart_product_consumer_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 450px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add to cart</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
            
                    <form id="cart_product_consumer_form" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <div class="d-flex flex-column align-items-center mb-3">
                            <h5 class="card-title text-center">Subtotal</h5>
                            <p class="card-text text-center" id="subtotal_cart_product_consumer">US$20</p>

                            <div class="card mt-1" style="width: 18rem;">
                                <input type="hidden" id="name_cart_product_consumer">
                                <input type="hidden" id="type_cart_product" value="sale">
                                <input type="hidden" id="publish_quantity_cart_product_consumer">
                                <input type="hidden" id="id_product_cart">

                                <img src="" class="card-img-top" id="image_cart_product_consumer" alt="">
                                <h5 class="card-title text-center" id="price_cart_product_consumer"></h5>
                                
                                
                            </div>
                        </div>
                        
                        <div class="d-flex justify-content-center">
                            <label for="quantity_cart_product_consumer">Quantity: </label>
                            <input style="width: 12rem;margin-left: 10px;" type="number" class="form-control" id="quantity_cart_product_consumer" name="quantity_cart_product_consumer">
                        </div>
                        <br>
                    
                        

                        <div class="modal-footer">
                            <button type="submit" class="btn add_cart_btn" id="add_to_cart_consumer" data-bs-dismiss="modal">Add to cart</button>
                            <!-- <button type="submit" class="btn btn-primary" id="go_shopping_cart_consumer">Go to cart</button> -->
                            
                        </div>
                    </form>
                </div>
            </div>
        
        </div>
    </div>
    <!-- Modal Add to Cart -->

    <!-- Modal Shopping Cart -->
    <div class="modal fade" id="shopping_cart_consumer_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 450px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Shopping Cart</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal_body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn add_cart_btn" data-bs-toggle="modal" data-bs-target="#order_modal" id="generate_order">Generate Order</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Order Modal -->
    <div class="modal fade" id="order_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 450px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Order</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="order_container">
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <div class="d-flex">
                            <h5 class="card-title text-center">Total: </h5>
                            <p class="card-text text-center ms-2" id="total_order">US$</p>
                        </div>
                        <div>
                            <button type="button" class="btn btn-success" id="buy_order">Buy</button>
                            <button type="button" class="btn btn-danger" id="cancel_order" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/add_cart_product_consumer.js"></script>
<script src="../static/js/shopping_cart_consumer.js"></script>
<script src="../static/js/order_consumer.js"></script>

{% endblock %}